.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .modal-body {
        background-color: #fff;
        color: #333;
        padding: 2rem;
        width: 400px;
        border-radius: 7px;

        h1 {
            margin-top: 0;
        }

        button {
            font-size: 18px;
            border: none;
            background-color: #ce5858;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #a84242;
            }
        }
    }
}