$itemBg: #333;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
    background: linear-gradient(0deg, rgba(0, 71, 255, 1) 0%, rgba(86, 139, 255, 1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    overflow-y: scroll;
}

.title {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 25px 0;

    button {
        font-size: 18px;
        border: none;
        background-color: #586ace;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;

        &:hover {
            background-color: #a84242;
        }
    }
}

.todo-list {
    list-style: none;
    padding-left: 0;

    li {
        margin-bottom: 12px;
        font-size: 20px;
        padding: 10px 15px;
        border: 1px solid #fff;
        border-radius: 7px;
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;
        background: $itemBg;
        transition: 0.2s;

        label {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                margin-right: 15px;
            }
        }

        button {
            border: none;
            background: transparent;
            color: #ce5858;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                color: #fff;
            }
        }

        .todo-done {
            text-decoration: line-through;
        }
    }
}

.todo-form {
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
    position: relative;

    input {
        width: 400px;
        background: $itemBg;
        border: 1px solid #fff;
        border-radius: 7px;
        font-size: 20px;
        padding: 10px 15px;
        margin: 0;
        color: #fff;
    }

    button {
        position: absolute;
        cursor: pointer;
        right: 5px;
        top: 7px;
        border: 1px solid #fff;
        background: $itemBg;
        color: #fff;
        font-size: 15px;
        height: 30px;
        border-radius: 5px;

        &:hover {
            background: linear-gradient(0deg, rgba(0, 71, 255, 1) 0%, rgba(86, 139, 255, 1) 100%);
        }
    }
}

// Loader
.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 20px;

    div {
        position: absolute;
        width: 6px;
        height: 6px;
        background: #fff;
        border-radius: 50%;
        animation: lds-default 1.2s linear infinite;

        &:nth-child(1) {
            animation-delay: 0s;
            top: 37px;
            left: 66px;
        }

        &:nth-child(2) {
            animation-delay: -0.1s;
            top: 22px;
            left: 62px;
        }

        &:nth-child(3) {
            animation-delay: -0.2s;
            top: 11px;
            left: 52px;
        }

        &:nth-child(4) {
            animation-delay: -0.3s;
            top: 7px;
            left: 37px;
        }

        &:nth-child(5) {
            animation-delay: -0.4s;
            top: 11px;
            left: 22px;
        }

        &:nth-child(6) {
            animation-delay: -0.5s;
            top: 22px;
            left: 11px;
        }

        &:nth-child(7) {
            animation-delay: -0.6s;
            top: 37px;
            left: 7px;
        }

        &:nth-child(8) {
            animation-delay: -0.7s;
            top: 52px;
            left: 11px;
        }

        &:nth-child(9) {
            animation-delay: -0.8s;
            top: 62px;
            left: 22px;
        }

        &:nth-child(10) {
            animation-delay: -0.9s;
            top: 66px;
            left: 37px;
        }

        &:nth-child(11) {
            animation-delay: -1s;
            top: 62px;
            left: 52px;
        }

        &:nth-child(12) {
            animation-delay: -1.1s;
            top: 52px;
            left: 62px;
        }
    }
}
@keyframes lds-default {
    0%,
    20%,
    80%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
